@mixin base() {
    background-image: url("../images/bolling.jpg");
    background-repeat: no-repeat;
    background-position: 70% 15%;
    background-size: cover;
    // box-shadow: -10px 10px 0px 0px #e5a9c7;
    height: 35rem;
    width: 30rem;

    // @media all and (min-width: 768px) {
    //     height: 25rem;
    //     width: 25rem;
    // }

    // @media all and (min-width: 992px) {
    //     width: 30rem;
    // }
}

&__image {
    @include base;
}