@mixin base {
    display: flex;
    flex-grow: 0;
    justify-content: flex-end;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 0;
    padding-top: 24px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

&__content-controls {
    @include base;
}