@mixin base() {
    // height: 22rem;
    // width: 22rem;
    opacity: 1;
    width: 25rem;
    height: 25rem;
    transition: .5s ease;
    backface-visibility: hidden;

}

&__image {
    @include base;
}