@mixin base() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5rem;

    @media all and (min-width: 820px) {
        flex-direction: row;
    }
}

&__items {
    @include base;
}