@mixin base() {
    background-color: #fff;
    padding: 7rem;
    width: 50rem;

    @media all and (min-width: 550px) {
        width: 60rem;
    }

    @media all and (min-width: 768px) {
        padding: 5rem;
        width: 50rem;
    }
}

&__content {
    @include base;
}