@mixin base() {
    color: #333;
    font-family: 'Abel', sans-serif;

    &:visited {
        // color: $component-footer-nav-link-color-visited;
    }
    
    &:hover {
        // color: $component-footer-nav-link-color-hover;
    }
    
    &:active {
        // color: $component-footer-nav-link-color-active;
    }

    text-decoration: none;
}

&__link {
    @include base;
}