@mixin base() {
    background-color:  #333;
    color: #fff;
    padding-top: 5rem;
}

.about {
    @include base;
    @include full-bleed();
    
    @import 'image';
    @import 'content';
    @import 'images';
    @import 'heading';
    @import 'section';
}
