@mixin base() {
    background-color: #333;
    color: #fff;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: left;
}

.contact {
    @include base;
    @include full-bleed();

    @import 'content';
    @import 'heading';
    @import 'list';
}