@mixin base() {
    background-color: #333;
    color: #fff;
    padding: 4rem;
    text-align: center;
    
    @media all and (min-width: 768px) {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}

.contact {
    @include base;
    @include full-bleed();

}