@mixin base() {
    border-top: 7px solid #8F285A;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding-top: 5rem;
    width: 50%;
}

&__heading {
    @include base;
}