@mixin base() {
    background-color: #358AC2;
    color: #fff;
    font-size: 1rem;
    left: -2000px;
    padding: 15px 20px;
    position: absolute;
    text-decoration: none;    
    top: 0;

    &:focus {
        left: 0;
    }

    &:visited {
        color: #0E5A95;
    }

    &:hover {
        color: #0E5A95;
    }

    &:active {
        color: #626065;
    }    
}

&__link {
    @include base;
}